img {
    height: 400;
    width: 280;
}

.text {
    width: 280;
    color: black;
    background-color: wheat;    
}

.text:hover {
    background-color: white;
}

.links {
    width: 280;
    color: black;
    background-color: white; 
}

body {
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}